header {
    background-color: $i1b7fd0;
    @include upCase();
    @include textFormat(normal, $font-roboto-regular, 20px, $ffffff);

    div {     
        @include dflex(flex, space-between, center);

        h4 {
            padding: 5px;
        }

        div {
            &:hover {
                background-color: $caddea;
                @include textFormat(normal, $font-roboto-regular, 20px, $i1b7fd0);
            }
        }
    }
}