// Fonts

$font-roboto-black: 'roboto-black', sans-serif;
$font-roboto-bold: 'roboto-bold', sans-serif;
$font-roboto-bold-italic: 'roboto-bold-italic', sans-serif;
$font-roboto-condensed-bold: 'roboto-condensed-bold', sans-serif;
$font-roboto-condensed-light: 'roboto-condensed-light', sans-serif;
$font-roboto-condensed-regular: 'roboto-condensed-regular', sans-serif;
$font-roboto-light: 'roboto-light', sans-serif;
$font-roboto-medium: 'roboto-medium', sans-serif;
$font-roboto-medium-italic: 'roboto-medium-italic', sans-serif;
$font-roboto-regular: 'roboto-regular', sans-serif;
$font-roboto-thin: 'roboto-thin', sans-serif;
$font-roboto-thin-italic: 'roboto-thin-italic', sans-serif;

// Colors

$ffffff: #ffffff;
$f83e3f: #f83e3f;
$caddea: #caddea;
$dd0000: #dd0000;
$a40000: #a40000;
$i075da2: #075da2;
$i1b7fd0: #1b7fd0;
$i000000: #000000;
$i013056: #013056;
$i2e3847: #2e3847;
$fde8e9: #fde8e9;
